<section>
  <article>
    <div class="text-large">
        <div class="card-author flex">
            <div class="card-author-avatar mr-3">
                <figure class="image-48">
                    <img src="https://cdn.onlinewebfonts.com/svg/img_375537.png" alt="Storage" style="width:30px;">
                </figure>
            </div>
            <div class="card-author-box text-huge">
                S3 STORAGE:
                {{.StoragePath}}
                holds {{.NBuckets}} objects
            </div>
        </div>
    </div>
    <hr/>
    <div class="grid grid-gapless">
        <div class="column column-4">
            <b>Timestamp</b>
        </div>
        <div class="column column-8">
            <b>Bucket</b>
        </div>
    </div>
{{range $d := .Buckets}}
    <div class="grid grid-gapless">
        <div class="column column-4">
            {{$d.CreationDate}}
        </div>
        <div class="column column-8">
            <a href="/storage/{{$.Site}}/{{$d.Name}}">{{$d.Name}}</a>
        </div>
    </div>
{{end}}
  </article>
</section>
