<section>
  <article>
      <h1 class="text-huge">
          DELETE BUCKET AT S3 STORAGE
      </h1>
      <br/>
      <form class="form" action="{{.Base}}/storage/delete" method="post">
        <div class="form-item">
            <label>Site Name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="site" value="{{.Site}}">
        </div>
        <div class="form-item">
            <label>Bucket Name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="name">
        </div>
        <div class="form-item">
            <button class="button button-primary">Delete</button>
            <button class="button">Cancel</button>
        </div>
    </form>

  </article>
</section>
