<div class="grid menu">
    <div class="column column-2">
        <nav class="menu menu-pills">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="{{.Base}}/" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a href="{{.Base}}/docs" class="menu-link">Docs</a>
                </li>
                <li class="menu-item">
                    <a href="javascript:FlipTag('site-menu')" class="menu-link">Sites</a>
                    <div id="site-menu" class="hide">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{.Base}}/site/registration" class="menu-link">Registration</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{.Base}}/sites" class="menu-link">Access</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="javascript:FlipTag('data-menu')" class="menu-link">Data</a>
                    <div id="data-menu" class="hide">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{.Base}}/data/registration" class="menu-link">Registration</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{.Base}}/data/access" class="menu-link">Access</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column column-10">
        <!--
<section>
  <article>
        -->
      <figure>
        <img src="{{.Base}}/images/OreCastLogo0.gif">
    </figure>
    <!--
  </article>
</section>
    -->
    </div>
</div>

