<div class="sidebar">
<div class="grid menu">
    <div class="column column-2">
        <nav class="menu menu-pills">
            <ul class="menu-list">
                <li class="menu-item">
                    <a href="{{.Base}}/" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a href="javascript:FlipTag('project-menu');" class="menu-link">Projects</a>
                    <div id="project-menu" class="hide">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{.Base}}/project/registration" class="menu-link">New project</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{.Base}}/project" class="menu-link">Existing projects</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li class="menu-item">
                    <hr/>
                </li>
                <li class="menu-item">
                    <a href="javascript:FlipTag('site-menu');ShowMap();" class="menu-link">Sites</a>
                    <div id="site-menu" class="hide">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{.Base}}/site/registration" class="menu-link">Registration</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{.Base}}/sites" class="menu-link">Access</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="javascript:FlipTag('data-menu')" class="menu-link">Data</a>
                    <div id="data-menu" class="hide">
                        <nav class="menu">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="{{.Base}}/data/registration" class="menu-link">Registration</a>
                                </li>
                                <li class="menu-item">
                                    <a href="{{.Base}}/datasets" class="menu-link">Datasets</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </li>
                <li class="menu-item">
                    <a href="{{.Base}}/docs/apis.md" class="menu-link">API Toolkit</a>
                </li>
                <li class="menu-item">
                    <a href="{{.Base}}/docs/modules.md" class="menu-link">Learning modules</a>
                </li>
                <li class="menu-item">
                    <a href="{{.Base}}/docs" class="menu-link">Knowledge base</a>
                </li>
                <li class="menu-item">
                    <a href="{{.Base}}/docs/help.md" class="menu-link">Help center</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="column column-10">
        <div id="orecast-content" class="{{.LogoClass}}">
          <figure>
            <img src="{{.Base}}/images/OreCastLogo0.gif">
        </figure>
        </div>
        <div id="orecast-map" class="{{.MapClass}}">
            <div id="map"></div>
        </div>
    </div>
</div>
</div>

<!-- Google Map API
    https://developers.google.com/maps/documentation/javascript/adding-a-google-map#maps_add_map-html
-->

<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
	({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "beta"});
</script>

