<section>
  <article>
      <figure>
        <img src="{{.Base}}/images/OreCastLogo.gif">
        <figcaption>
            <div class="grid">
                <div class="column column-3">
                    <a href="#" class="button">
                    MetaData
                    </a>
                </div>
                <div class="column column-3">
                    <a href="#" class="button">
                    Discovery
                    </a>
                </div>
                <div class="column column-3">
                    <a href="#" class="button">
                    Analytics
                    </a>
                </div>
                <div class="column column-3">
                    <a href="#" class="button">
                    Provenance
                    </a>
                </div>
            </div>
        </figcaption>
    </figure>
  </article>
</section>
