<section>
  <article>
      <form class="form" action="{{.Base}}/login" method="post">
        <div class="form-item">
            <label>User Name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="user">
        </div>
        <div class="form-item">
            <label>User Password <span class="hint hint-req">*</span></label>
            <input class="input" type="password" name="password">
        </div>
        <div class="form-item">
            <button class="button button-primary">Save</button>
            <button class="button">Cancel</button>
        </div>
    </form>

  </article>
</section>
