<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_217641.png" alt="Model 1" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Model I</h1>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_268867.png" alt="Model II" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Model II</h1>
        Some description
    </div>
</div>
