<section>
  <article>
      <form class="form" action="{{.Base}}/project/registration" method="post">
        <div class="form-item">
            <label>Project Name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="project">
        </div>
        <div class="form-item">
            <label>Site Name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="site">
        </div>
        <div class="form-item">
            <label>Description</label>
            <input class="input" type="text" name="description">
        </div>
        <div class="form-item">
            <button class="button button-primary">Create</button>
            <button class="button">Cancel</button>
        </div>
    </form>

  </article>
</section>
