<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_241774.png" alt="Analysis I" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Analysis I</h1>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_156970.png" alt="Analysis II" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Analysis II</h1>
        Some description
    </div>
</div>
