<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_536849.png" alt="Metal" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Rare materials</h1>
        Access:
        <img src="https://cdn.onlinewebfonts.com/svg/img_139334.png" alt="Storage" style="width:15px;">
        <br/>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_426124.png" alt="Sorted waste" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Sorted waste</h1>
        Access:
        <img src="https://cdn.onlinewebfonts.com/svg/img_462047.png" alt="Storage" style="width:15px;">
        <br/>
        Some description
    </div>
</div>
