<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_356894.png" alt="Mineville" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Mineville Trailing</h1>
        Access:
        <img src="https://cdn.onlinewebfonts.com/svg/img_573802.png" alt="Storage" style="width:15px;">
        <br/>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_473877.png" alt="Acid Mine" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Acid Mine Drainage</h1>
        Access:
        <img src="https://cdn.onlinewebfonts.com/svg/img_573802.png" alt="Storage" style="width:15px;">
        <br/>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_107796.png" alt="Barton Hill" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Barton Hill Concrete Analysis</h1>
        Access:
        <img src="https://cdn.onlinewebfonts.com/svg/img_573806.png" alt="Storage" style="width:15px;">
        <br/>
        Some description
    </div>
</div>

