<section>
    <article>

        <div class="min-height">

        <nav class="nav nav-switcher">
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/project" class="nav-link">
                        Projects Home
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/project/registration" class="nav-link">
                        New project
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/project/data" class="nav-link">
                        Data
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/project/models" class="nav-link">
                        Models
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/project/analysis" class="nav-link">
                        Analysis
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/project/reports" class="nav-link">
                        Reports
                    </a>
                </li>
            </ul>
        </nav>

        <hr/>
        <h1 class="text-mega">
            {{.Title}}
        </h1>

        {{.Content}}

        </div> <!-- end of min-height div -->
    </article>
</section>
