<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_543527.png" alt="Report I" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Report I</h1>
        Some description
    </div>
</div>

<div class="grid round">
    <div class="column column-1">
        <img src="https://cdn.onlinewebfonts.com/svg/img_451922.png" alt="Report II" style="width:50px;"></a>
    </div>
    <div class="column column-11">
        <h1 class="text-mega">Report II</h1>
        Some description
    </div>
</div>
