<section>
    <article>
        <div class="grid grid-gapless">
            <div class="column column-4">
                <b class="text-huge">SITE</b>
            </div>
            <div class="column column-4">
                <b class="text-huge">STORAGE</b>
            </div>
            <div class="column column-4">
                <b class="text-huge">RECORDS</b>
            </div>
        </div>
        <hr/>
        {{.Content}}
    </article>
</section>
