<div class="grid grid-gapless">
    <div class="column column-4">
        <h1 class="text-large">{{.Site}}</h1>
    </div>
    <div class="column column-4">
        <a href="{{.Base}}/storage/{{.Site}}">
          <img src="https://cdn.onlinewebfonts.com/svg/img_375537.png" alt="Storage" style="width:30px;"></a>
        &nbsp;
        <a href="{{.Base}}/storage/{{.Site}}/create">
          <img src="https://cdn.onlinewebfonts.com/svg/img_247754.png" alt="Storage" style="width:30px;"></a>
        &nbsp;
        <a href="{{.Base}}/storage/{{.Site}}/upload">
          <img src="https://cdn.onlinewebfonts.com/svg/img_548685.png" alt="Storage" style="width:30px;"></a>
        &nbsp;
        <a href="{{.Base}}/storage/{{.Site}}/delete">
          <img src="https://cdn.onlinewebfonts.com/svg/img_564444.png" alt="Storage" style="width:30px;"></a>
    </div>
    <div class="column column-4">
        <a href="{{.Base}}/meta/{{.Site}}">
          <img src="https://cdn.onlinewebfonts.com/svg/img_371709.png" alt="Records" style="width:30px;">
        </a>
    </div>
</div>
<div class="grid grid-gapless">
    <div class="column column-4">
{{if .UseSSL}}
      <img src="https://cdn.onlinewebfonts.com/svg/img_573802.png" alt="Storage" style="width:15px;">
  {{else}}
      <img src="https://cdn.onlinewebfonts.com/svg/img_573806.png" alt="Storage" style="width:15px;">
{{end}}
        {{.Description}}
    </div>
    <div class="column column-4">
        S3 storage
    </div>
    <div class="column column-4">
        Total {{.NRecords}} meta-data records
    </div>
</div>
<hr/>
