<section>
  <article>

<form class="form">
    <div class="form-item">
        <label>Name</label>
        <input class="input" type="text">
    </div>
    <div class="form-item">
        <label>Country</label>
        <select class="input">
            <option value="">---</option>
        </select>
    </div>
    <div class="form-item">
        <label class="checkbox">
            <input class="input" type="checkbox"> Check me
        </label>
        <label class="radio">
            <input class="input" type="radio"> Radio me
        </label>
    </div>
    <div class="form-item">
        <textarea class="input" rows="6"></textarea>
    </div>
    <div class="form-item">
        <button class="button button-primary">Save</button>
        <button class="button">Cancel</button>
    </div>
</form>

  </article>
</section>
