<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHAPBook</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{.Base}}/images/favicon.ico">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">
    <!-- https://imperavi.com/superkube/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <script type="text/javascript" src="{{.Base}}/js/utils.js"></script>
</head>
<body>

<header>
    <div class="grid">
        <div class="column column-4">
            <a href="{{.Base}}/">
                <img src="{{.Base}}/images/orecast-logo.png">
            </a>
        </div>
        <div class="column column-4">
            <div class="white">
                <input class="input input-round" placeholder="Search item">
            </div>
        </div>
        <div class="column column-4">
            {{if eq .User ""}}
                <a href="{{.Base}}/login" class="button button-light button-small">Login</a>
                &nbsp; | &nbsp;
                <a href="{{.Base}}/registry" class="button button-light button-small">Registry</a>
            {{else}}
                <h1 class="white">{{.User}}</h1>
            {{end}}
        </div>
    </div>

</header>


