<section>
  <article>
      <form class="form" action="{{.Base}}/user/registration" method="post">
        <div class="form-item">
            <label>Login name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="login">
        </div>
        <div class="form-item">
            <label>Password <span class="hint hint-req">*</span></label>
            <input class="input" type="password" name="password">
        </div>
        <div class="form-item">
            <label>First name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="first_name">
        </div>
        <div class="form-item">
            <label>Last name <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="last_name">
        </div>
        <div class="form-item">
            <label>Email <span class="hint hint-req">*</span></label>
            <input class="input" type="text" name="email">
        </div>
        <div class="form-item">
            <p>Type the numbers you see in the picture below:</p>
            <p><img id="image" src="{{.Base}}/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
            <a href="#" onclick="reload()">Reload</a>
            <input type="hidden" name="captchaId" value="{{.CaptchaId}}"><br>
            <input class="input" name="captchaSolution">
        </div>
        <div class="form-item">
            <button class="button button-primary">Save</button>
            <button class="button">Cancel</button>
        </div>
    </form>

  </article>
</section>
